<script src="../../dist/beet-js.js"></script>
<script src="dxpchainjs.js"></script>
<script>
    let init = async function() {
        try {
            // establish connection to beet
            let app = await beet.get("Dxpchain Injection Example", "DXP");

            // inject beet
            TransactionBuilder = app.DXP.inject(dxpchain_js.TransactionBuilder);

            console.log(app.DXP.getAccount());

            // connect to dxpchain blockchain
            await dxpchain_js.dxpchain_ws.Apis.instance(
                "wss://node.gvxlive.com",
                true,
                10000,
                {enableCrypto: false, enableOrders: false},
                (err) => console.log(err)
            ).init_promise;

            // build transfer operation
            let  tr = new TransactionBuilder();
            let transfer_op = tr.get_type_operation("transfer", {
                fee: {
                    amount: 0,
                    asset_id: "1.3.0"
                },
                from: app.DXP.getAccount().id,
                to: "1.2.886902",
                amount: {amount: 100, asset_id: "1.3.0"},
                memo: undefined
            });
            tr.add_operation(
                transfer_op
            );
            await tr.set_required_fees();
            await tr.update_head_block();
            tr.add_signer("inject_wif");
            await tr.broadcast();
        } catch (err) {
            console.error(err);
        }
    };
    init();
</script>