<script src="../../dist/beet-js.js"></script>
<script>
beet.get("Dxpchain Signature", "DXP").then(beet => {
    beet.DXP.signMessage("This is a message to be signed!").then(res => {
        console.log(res);
    }).catch((err) => {
        console.error(err);
    });
}).catch((err) => {
    console.error(err);
});
</script>