<script src="../../dist/beet-js.js"></script>

<script>
beet.get("Dxpchain Transfer Example", "DXP", true).then(app => {
    app.DXP.transfer(
        {
            to: "sschiessl",
            amount:
                {
                    satoshis: 1,
                    asset_id: "1.3.0"
                }
        }
    ).then(result => {
        console.log("Success", result);
    }).catch(err => {
        console.error(err);
    });
}).catch(err => {
    console.error(err);
});
</script>