<script src="../../dist/beet-js.js"></script>

<script>
    let init = async function() {
        try {
            let app = await beet.get("Dxpchain Vote Example", "DXP");
            let result = await app.DXP.voteFor({id: "1.6.117"});
            console.log(result);
        } catch (err) {
            console.error(err);
        }
    };
    init();
</script>
