<script src="../../dist/beet-js.js"></script>
<script src="https://cdn.steemjs.com/lib/latest/steem.min.js"></script>
<script>

beet.get('beet-js example for steem', 'STEEM').then(app => {
    steem = app.STEEM.inject(steem);
    app.STEEM.getAccount().then(account => {
        if (typeof account == "string") {
            // fix bug that causes to return string instead of json
            account = JSON.parse(account);
        }
        // this calls steem.broadcast.customJson(wif, requiredAuths, requiredPostingAuths, id, json, callback)
        steem.broadcast.customJson(
            "inject_wif",
            [account.name],
            [],
            "beet",
            JSON.stringify([
                "broadcast-example",
                {
                    text: "This custom json data was put on Steem with Beet",
                    url: "https://github.com/dxpchain/beet"
                }
            ]),
            (err, result) => {
                console.log("injectedCall", err, result);
            }
        );
    });
}).catch((err) => {
    console.error(err);
});
</script>