<script src="../../dist/beet-js.js"></script>
<script>
beet.get('beet-js example for steem', 'STEEM').then(app => {
    app.STEEM.voteFor(
         {
             author: "krazykrista",
             permlink: "dxpchain-scam-do-not-accept-proposed-transactions-that-update-your-account-data",
             weight: 1
         }
    ).then(account => {
        console.log("voteFor", account);
    }).catch((err) => {
        console.error("voteFor", err);
    });
    app.STEEM.voteFor(
        {
            blockproducer: "krazykrista",
            approve: true
        }
    ).then(account => {
        console.log("voteFor", account);
    }).catch((err) => {
        console.error("voteFor", err);
    });
}).catch((err) => {
    console.error(err);
});
</script>