<script src="../../dist/beet-js.js"></script>

<script>
beet.get("My Transfer App", "EOS", true).then( async app => {
    app.EOS.transfer(
        {
            to: "clockworkdxp",
            amount:
                {
                    satoshis: 1,
                    asset_id: "EOS"
                }
        }
    ).then(result => {
        console.log("Success", result);
    }).catch(err => {
        console.error(err);
    });
}).catch(err => {
    console.error(err);
});
</script>